body{
    background:black;
    color:white;
}
.players-section{
    width:90%;
    margin:auto;
    padding:60px 0;
}

.players-title{
    text-align:center;
    color:gold;
    font-size:50px;
    margin-bottom:50px;
}

.players-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.player-card{
    background:#111;
    border-radius:18px;
    overflow:hidden;
    transition:0.3s;
    box-shadow:0 0 15px rgba(255,215,0,0.2);
}

.player-card:hover{
    transform:translateY(-10px);
}

.player-card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.player-info{
    padding:20px;
    text-align:center;
}

.player-info h2{
    color:gold;
    margin-bottom:10px;
}

.player-info p{
    color:white;
    margin:5px 0;
}

@media(max-width:768px){

    .players-title{
        font-size:35px;
    }

    .player-card img{
        height:260px;
    }

}

.gspl-navbar{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.gspl-navbar a{
    text-decoration:none;
    color:white;
    background:#111;
    padding:12px 20px;
    border-radius:30px;
    border:2px solid gold;
    font-weight:bold;
    transition:0.3s;
}

.gspl-navbar a:hover{
    background:gold;
    color:black;
    transform:translateY(-3px);
}
.page-hero{
    width:100%;
    min-height:70vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    background:linear-gradient(
        135deg,
        #000000,
        #111111,
        #1a1a1a
    );

    text-align:center;
    padding:60px 20px;
}

.page-hero h1{
    font-size:38px;
    color:gold;
    margin-bottom:20px;
    text-transform:uppercase;
    letter-spacing:3px;
    line-height:1.2;
}

.page-hero p{
    color:#ddd;
    font-size:18px;
    max-width:700px;
    line-height:1.6;
}

@media(max-width:768px){

    .page-hero{
        min-height:60vh;
        padding:40px 20px;
    }

    .page-hero h1{
        font-size:42px;
    }

    .page-hero p{
        font-size:18px;
    }

}

.players-page{
    width:100%;
    min-height:100vh;
    background:black;
    padding:140px 5% 80px;
}

.players-header{
    text-align:center;
    margin-bottom:60px;
}

.players-header h1{
    color:gold;
    font-size:65px;
    margin-bottom:20px;
}

.players-header p{
    color:white;
    font-size:22px;
}

.players-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
}

.player-card{
    background:#111;
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
    box-shadow:0 0 20px rgba(255,215,0,0.15);
}

.player-card:hover{
    transform:translateY(-10px);
}

.player-card img{
    width:100%;
    height:340px;
    object-fit:cover;
}

.player-info{
    padding:25px;
    text-align:center;
}

.player-info h2{
    color:gold;
    margin-bottom:15px;
    font-size:28px;
}

.player-info p{
    color:white;
    margin:8px 0;
    font-size:18px;
}

@media(max-width:768px){

    .players-page{
        padding-top:120px;
    }

    .players-header h1{
        font-size:40px;
    }

    .players-header p{
        font-size:18px;
    }

    .player-card img{
        height:280px;
    }

}
/* =========================
   TEAM SECTION
========================= */

.teams-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;

    margin-top:120px;

    padding-left:30px;
    padding-right:30px;
    padding-bottom:50px;
}

.team-card{
    background:#111;
    border:2px solid gold;
    border-radius:20px;
    padding:25px;
    text-align:center;
}

/* CIRCLE LOGO */

.team-logo{
    width:120px;
    height:120px;

    margin:auto;

    border-radius:50%;
    border:3px solid gold;

    overflow:hidden;

    background:black;

    display:flex;
    justify-content:center;
    align-items:center;
}

.team-logo img{
    width:100%;
    height:100%;
    object-fit:contain;
    padding:10px;
}

/* TEXT */

.team-card h2{
    color:gold;
    margin-top:20px;
    font-size:28px;
}

.team-card p{
    color:white;
    font-size:18px;
    margin:8px 0;
}

.team-card b{
    color:gold;
}

/*points table*/

.points-page{
    padding:140px 20px 50px;
    background:black;
    min-height:100vh;
    text-align:center;
}

.points-page h1{
    color:gold;
    margin-bottom:40px;
    font-size:55px;
}

.points-table{
    width:100%;
    max-width:1000px;
    margin:auto;
    border-collapse:collapse;
    background:#111;
    color:white;
}

.points-table th{
    background:gold;
    color:black;
    padding:15px;
    font-size:20px;
    vertical-align:middle;
}

.points-table td{
    padding:15px;
    border:1px solid gold;
    font-size:18px;
    vertical-align:middle;
}
.points-table tr:hover{
    background:#222;
}

.announcement-section{
    background:gold;
    color:black;
    padding:18px;
    overflow:hidden;
    white-space:nowrap;
}
.announcement-section{
    background:gold;
    padding:15px;
}

.announcement-text{
    font-size:22px;
    font-weight:bold;
}

@media(max-width:768px){

    .hero h1{
        font-size:55px !important;
        line-height:65px;
    }

    .hero p{
        font-size:22px !important;
        padding:0 15px;
    }

    .hero{
        height:auto;
        padding:120px 10px;
        text-align:center;
    }

    .announcement-section{
        font-size:18px;
        text-align:center;
    }

}

.sponsor-section{
    background:black;
    padding:60px 20px;
    text-align:center;
}

.sponsor-section h2{
    color:gold;
    font-size:65px;
    margin-bottom:50px;
}

.sponsor-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:40px 20px;
}

.sponsor-card{
    width:280px;
    background:#111;
    border:3px solid gold;
    border-radius:20px;
    overflow:hidden;
    text-align:center;
}

.sponsor-card img{
    width:100%;
    height:250px;
    object-fit:contain;
    background:white;
    padding:10px;
}

.sponsor-card h3{
    color:white;
    font-size:32px;
    padding:15px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        padding:20px;
    }

    nav ul{
        flex-direction:column;
        gap:15px;
    }

    .hero h1{
        font-size:55px;
    }

    .hero p{
        font-size:28px;
    }

    .announcement-text{
        font-size:18px;
    }

}

/* NAVBAR */

.navbar{
    background:black;
    padding:20px;
    border-bottom:2px solid gold;
    position:relative;
}

.logo{
    color:gold;
    font-size:50px;
    font-weight:bold;
    text-align:center;
}

/* MENU */

.nav-links{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:gold;
}

/* HAMBURGER */

.menu-toggle{
    display:none;
    color:white;
    font-size:35px;
    position:absolute;
    right:20px;
    top:25px;
    cursor:pointer;
}

/* MOBILE VIEW */

@media(max-width:768px){

    .logo{
    font-size:28px;
    width:80%;
    line-height:1.3;
    text-align:center;
}

.menu-toggle{
    display:block;
    font-size:28px;
    right:15px;
    top:18px;
}

    .nav-links{
        display:none;
        flex-direction:column;
        align-items:center;
        gap:25px;
        margin-top:30px;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links a{
        font-size:28px;
    }
}

@media(max-width:768px){

    .sponsor-section h2{
        font-size:40px;
    }

    .sponsor-card{
        width:90%;
    }

    .announcement-text{
        font-size:18px;
    }

}

.team-column{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:8px;
    font-weight:bold;
    text-align:center;
}

.team-logo{
    width:55px !important;
    height:55px !important;
    min-width:55px;
    max-width:55px;

    border-radius:50%;
    object-fit:cover;

    border:2px solid gold;

    background:black;

    display:block;
    margin:auto;

    overflow:hidden;
}

/*Auction CSS*/

.auction-page{
    background:black;
    color:white;
    padding:40px 20px;
    min-height:100vh;
}

.auction-page h1{
    text-align:center;
    color:gold;
    font-size:60px;
    margin-bottom:40px;
}

.auction-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.auction-card{
    background:#111;
    border:2px solid gold;
    border-radius:20px;
    padding:20px;
    text-align:center;
}

.auction-image{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid gold;
    margin-bottom:15px;
}

.sold-team{
    color:lime;
}

.sold-price{
    color:gold;
}

.unsold{
    color:red;
}

@media(max-width:768px){

    .auction-page h1{
        font-size:40px;
    }

}

/*Footer*/

.footer{
    background:#111;
    color:white;
    text-align:center;
    padding:30px 20px;
    border-top:2px solid gold;
}

.footer h2{
    color:gold;
    margin-bottom:20px;
    font-size:30px;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:20px;
}

.social-icons a{
    color:white;
    font-size:35px;
    transition:0.3s;
}

.social-icons a:hover{
    color:gold;
    transform:scale(1.2);
}

.footer p{
    color:#ccc;
    font-size:18px;
}

.payment-box{
    text-align:center;
    margin-bottom:30px;
}

/* .qr-image{
    width:250px;
    max-width:90%;
    border:3px solid gold;
    border-radius:15px;
} */

.registration-payment img{
    width:100%;
    max-width:320px;
    display:block;
    margin:auto;
    border-radius:10px;
}

.registration-payment{
    text-align:center;
    margin-top:20px;
}

.qr-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin:15px 0;
}

.payment-qr{
    width:250px !important;
    max-width:90% !important;
    height:auto !important;
    border-radius:12px;
}
.registration-form{
    width:90%;
    max-width:450px;
    margin:auto;
    overflow:hidden;
}

/* .payment-qr{
    width:100%;
    max-width:300px;
    height:auto;
    display:block;
    margin:15px auto;
    border-radius:10px;
} */

.registration-payment{
    width:100%;
    overflow:hidden;
    text-align:center;
}

/* .registration-payment img{
    width:100%;
    max-width:300px;
    height:auto;
    display:block;
    margin:20px auto;
    border-radius:12px;
} */

/*gallery*/
.gallery-section{
    width:90%;
    margin:auto;
    padding:40px 0;
}

.gallery-section h1{
    color:gold;
    text-align:center;
    margin-bottom:40px;
    font-size:50px;
}

.season-box{
    margin-bottom:60px;
}

.season-box h2{
    color:gold;
    margin-bottom:20px;
    border-left:5px solid gold;
    padding-left:15px;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    border:2px solid gold;
    transition:0.3s;
}

.gallery-card img:hover{
    transform:scale(1.03);
}

/* ==========================================
   Registration Details Page
========================================== */

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    font-weight: 600;
    font-size: 18px;
}

.player-photo{
    width:100%;
    max-width:260px;
    height:320px;
    object-fit:cover;
    border-radius:12px;
    border:4px solid #f1f1f1;
}

.player-photo:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.document-photo{
    width:100%;
    max-width:100%;
    height:auto;
    max-height:250px;
    object-fit:contain;
    border:1px solid #ddd;
    border-radius:10px;
    padding:5px;
    background:#fff;
    display:block;
    margin:auto;
}
.info-table th{
    width:30%;
    white-space:nowrap;
    background:#f8f9fa;
    font-weight:600;
}

.info-table td{
    font-weight:500;
}

.card{
    border-radius:12px;
}

.document-photo:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 18px rgba(0,0,0,.18);
}

.table {
    margin-bottom: 0;
}

.table th {
    width: 35%;
    background: #f8f9fa;
    color: #444;
    font-weight: 600;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}

.badge {
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 20px;
}

.btn-sm {
    min-width: 90px;
    margin: 4px;
}

.card-body {
    padding: 25px;
}

/* Mobile Responsive */

@media (max-width: 991px) {

    .player-photo {
        width: 180px;
        height: 220px;
    }

    .table th {
        width: 40%;
    }

}

@media (max-width: 768px) {

    .card-body {
        padding: 18px;
    }

    .player-photo {
        width: 160px;
        height: 200px;
        margin-bottom: 20px;
    }

    .document-photo {
        height: 180px;
    }

    h2 {
        font-size: 24px;
    }

    .table th,
    .table td {
        font-size: 14px;
    }

    .btn-sm {
        width: 100%;
        margin-top: 8px;
    }

}

@media (max-width: 576px) {

    .player-photo {
        width: 150px;
        height: 190px;
    }

    .document-photo {
        height: 160px;
    }

    .table th {
        width: 45%;
        font-size: 13px;
    }

    .table td {
        font-size: 13px;
    }

    .card-header {
        font-size: 16px;
    }

}

/* ===========================
   Mobile Responsive
=========================== */

@media (max-width:768px){

.container-fluid{
    padding-left:10px;
    padding-right:10px;
}

.card-body{
    padding:12px;
}

.player-photo{
    width:180px;
    height:220px;
    margin:auto;
    display:block;
}

.document-photo{
    width:100%;
    height:auto;
    max-height:220px;
}

.table-responsive{
    overflow-x:auto;
}

.table{
    font-size:14px;
}

.table th{
    width:40%;
    white-space:nowrap;
}

.btn-sm{
    width:48%;
    margin-top:8px;
}

.card-header h5{
    font-size:16px;
    margin:0;
}

}


