{% extends 'dashboard/base.html' %}

{% block content %}

<div class="container py-4">

    <div class="card shadow border-0 rounded-4">

        <div class="card-header bg-warning text-dark">
            <h3 class="mb-0">✏ Edit Player</h3>
        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success">
                    💾 Save Changes
                </button>

                <a href="{% url 'dashboard_players' %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}